<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/401.css}">
</head>
<body>
	<div class="container">
		<h1>401</h1>
		<h4>
			<span style="color: red;">Unauthorized:</span>Access is denied due to
			invalid credentials
		</h4>

		<p>you do not have permission to view this directory or page using
			this credentials that you supplied</p>

		<a href="/index">Go Back To Home</a>
	</div>
</body>
</html>